@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Oxygen", sans-serif;
}

body {
    background-color: #faf3c6;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
.club-form{
    background-color:#BBC863 ;
    padding: 1rem;
    margin: .75rem;
    border-radius: .5rem;

}
.club-form-title {
    color: #31694E;
}
.form-item:nth-child(1) label{
    width: 100%;
    display: block;
    margin-bottom: .5rem;
    
}