@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Oxygen", sans-serif;
}

body {
    background-color: #faf3c6;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
.club-form{
    background-color:#BBC863 ;
    padding: 1rem;
    margin: .75rem;
    border-radius: .5rem;

}
.club-form-title {
    color: #31694E;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}
.form-item label{
    width: 100%;
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;

    
}

.form-item input{
    width: 100%;
    margin-bottom: .5rem;
    height: 2rem;
    outline: none;
    border: none;
    padding: .5rem;
}

.form-item input:focus{
    border: 2px solid #31694E;
}

.form-item {
    margin-bottom: .5rem;
    width: 100%;
}

.telephone {
    display: flex;
}

.telephone select {
    height: 2rem;
    border: none;
    padding: .3rem;
}

.telephone select:focus {
    border: 2px solid #31694E;
    outline: none;
}

.fullname {
    display: flex;
    gap: 1rem;
    width: 100%;
}

#membership-type {
    width: 100%;
    height: 2rem;
    border: none;
    padding: .3rem;
}

#membership-type:focus {
    border: 2px solid #31694E;
    outline: none;
}