@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Oxygen", sans-serif;
}

body {
    background-color: #faf3c6;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}
.club-form{
    background-color:#BBC863 ;
    padding: 1rem;
    margin: .75rem;
    border-radius: .5rem;
    /* min-width: 490px; */
}
.club-form-title {
    color: #31694E;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    text-align: left;
    font-size: 1.5rem;
}
.form-item label{
    width: 100%;
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
    color: #0b4228;
}

.form-item input{
    width: 100%;
    margin-bottom: .5rem;
    height: 2rem;
    outline: none;
    border: none;
    padding: .5rem;
}

.form-item input:focus{
    border: 2px solid #31694E;
}

.form-item {
    margin-bottom: .5rem;
    width: 100%;
}

.telephone {
    display: flex;
}

.telephone select {
    height: 2rem;
    border: none;
    padding: .3rem;
    color: #31694E;
    background-color: white;
}

.telephone select:focus {
    border: 2px solid #31694E;
    outline: none;
}

.fullname {
    display: flex;
    gap: 1rem;
    width: 100%;
}

#membership-type {
    width: 100%;
    height: 2rem;
    border: none;
    padding: .3rem;
    color: #31694E;
    background-color: none;
}

#membership-type:focus {
    border: 2px solid #31694E;
    outline: none;
}

.dob input[type='date'] {
    color: #31694E;
}

.about-us-question select{
    height: 2rem;
    border: none;
    padding: .3rem;
    width: 100%;
    color: #31694E;    
}

.about-us-question select:focus {
    border: 2px solid #31694E;
    outline: none;
}

.submit-btn {
    outline: none;
    border: none;
    padding: .5rem 2rem;
    margin-top: 1rem;
    background-color: #31694E;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}

.submit-btn:hover {
    background-color: #0b4228;
}

@media (max-width: 600px ) {
    .fullname {
        display: block;
    }
    
}